.counterCard{
    height: 102rem;
    width: 40rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.counterCard__h2{
    font-size: 800%;
    font-weight: 400;
}


@media screen and (max-width: 62.5rem){
    .counterCard{
      width: 100%;
      position: fixed;
      top: 2rem;
      right: 2rem;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      font-size: 200%;
      
    }
    .counterCard__h2{
        font-size: 200%;
    }
  }